node_modules
.next/build-manifest.json
.next/fallback-build-manifest.json
.next/package.json
.next/react-loadable-manifest.json
.next/trace
.next/cache/webpack/client-development/0.pack
.next/cache/webpack/client-development/index.pack
.next/cache/webpack/client-development-fallback/0.pack
.next/cache/webpack/client-development-fallback/index.pack
.next/cache/webpack/server-development/0.pack
.next/cache/webpack/server-development/index.pack
.next/server/_error.js
.next/server/middleware-build-manifest.js
.next/server/middleware-manifest.json
.next/server/middleware-react-loadable-manifest.js
.next/server/pages-manifest.json
.next/server/webpack-runtime.js
.next/server/pages/_app.js
.next/server/pages/_document.js
.next/server/pages/_error.js
.next/server/pages/events.js
.next/server/pages/index.js
.next/server/pages/events/[id].js
.next/static/chunks/_error.js
.next/static/chunks/amp.js
.next/static/chunks/main.js
.next/static/chunks/polyfills.js
.next/static/chunks/react-refresh.js
.next/static/chunks/webpack.js
.next/static/chunks/fallback/amp.js
.next/static/chunks/fallback/main.js
.next/static/chunks/fallback/react-refresh.js
.next/static/chunks/fallback/webpack.js
.next/static/chunks/fallback/pages/_app.js
.next/static/chunks/fallback/pages/_error.js
.next/static/chunks/pages/_app.js
.next/static/chunks/pages/_error.js
.next/static/chunks/pages/events.js
.next/static/chunks/pages/index.js
.next/static/chunks/pages/events/[id].js
.next/static/development/_buildManifest.js
.next/static/development/_ssgManifest.js
.next/static/webpack/4a90ef3fcc87866c.webpack.hot-update.json
.next/static/webpack/d6bc153e48bc2b68.webpack.hot-update.json
.next/static/webpack/ef3848f9c8cd65af.webpack.hot-update.json
.next/static/webpack/webpack.4a90ef3fcc87866c.hot-update.js
.next/static/webpack/webpack.d6bc153e48bc2b68.hot-update.js
.next/static/webpack/webpack.ef3848f9c8cd65af.hot-update.js
