node_modules
.next
.next/build-manifest.json
.next/fallback-build-manifest.json
.next/package.json
.next/react-loadable-manifest.json
.next/trace
.next/cache/webpack/client-development/0.pack
.next/cache/webpack/client-development/index.pack
.next/cache/webpack/client-development-fallback/0.pack
.next/cache/webpack/client-development-fallback/index.pack
.next/cache/webpack/server-development/0.pack
.next/cache/webpack/server-development/index.pack
.next/server/_error.js
.next/server/middleware-build-manifest.js
.next/server/middleware-manifest.json
.next/server/middleware-react-loadable-manifest.js
.next/server/pages-manifest.json
.next/server/webpack-runtime.js
.next/server/pages/_app.js
.next/server/pages/_document.js
.next/server/pages/_error.js
.next/server/pages/events.js
.next/server/pages/index.js
.next/server/pages/events/[id].js
.next/static/chunks/_error.js
.next/static/chunks/amp.js
.next/static/chunks/main.js
.next/static/chunks/polyfills.js
.next/static/chunks/react-refresh.js
.next/static/chunks/webpack.js
.next/static/chunks/fallback/amp.js
.next/static/chunks/fallback/main.js
.next/static/chunks/fallback/react-refresh.js
.next/static/chunks/fallback/webpack.js
.next/static/chunks/fallback/pages/_app.js
.next/static/chunks/fallback/pages/_error.js
.next/static/chunks/pages/_app.js
.next/static/chunks/pages/_error.js
.next/static/chunks/pages/events.js
.next/static/chunks/pages/index.js
.next/static/chunks/pages/events/[id].js
.next/static/development/_buildManifest.js
.next/static/development/_ssgManifest.js
.next/static/webpack/4a90ef3fcc87866c.webpack.hot-update.json
.next/static/webpack/d6bc153e48bc2b68.webpack.hot-update.json
.next/static/webpack/ef3848f9c8cd65af.webpack.hot-update.json
.next/static/webpack/webpack.4a90ef3fcc87866c.hot-update.js
.next/static/webpack/webpack.d6bc153e48bc2b68.hot-update.js
.next/static/webpack/webpack.ef3848f9c8cd65af.hot-update.js
.next/cache/webpack/client-development/1.pack
.next/cache/webpack/client-development/2.pack
.next/cache/webpack/client-development/3.pack
.next/cache/webpack/client-development/4.pack
.next/cache/webpack/client-development/index.pack.old
.next/cache/webpack/server-development/1.pack
.next/cache/webpack/server-development/2.pack
.next/cache/webpack/server-development/index.pack.old
.next/server/pages/events/[id].js
.next/static/chunks/pages/events/[id].js
.next/static/webpack/0dec63d7bcc7d1d6.webpack.hot-update.json
.next/static/webpack/2c7dac2b50b5ebe0.webpack.hot-update.json
.next/static/webpack/2efa0db03a1b0344.webpack.hot-update.json
.next/static/webpack/3d069bb177bf51d2.webpack.hot-update.json
.next/static/webpack/05c8ab563bf91343.webpack.hot-update.json
.next/static/webpack/5e4a41b164ab1a17.webpack.hot-update.json
.next/static/webpack/6cf0ea274ae08141.webpack.hot-update.json
.next/static/webpack/8ca24c4482fd13c2.webpack.hot-update.json
.next/static/webpack/47b39bc9dea8ce85.webpack.hot-update.json
.next/static/webpack/56eefbf124655dc9.webpack.hot-update.json
.next/static/webpack/429d529e4dfd6a40.webpack.hot-update.json
.next/static/webpack/9386b21a51d95452.webpack.hot-update.json
.next/static/webpack/13512ce1dccd6e09.webpack.hot-update.json
.next/static/webpack/a925202bf5c1f6b9.webpack.hot-update.json
.next/static/webpack/b3126e015ea95689.webpack.hot-update.json
.next/static/webpack/c2bef8aa904d92b4.webpack.hot-update.json
.next/static/webpack/c2eabbc55976a1fe.webpack.hot-update.json
.next/static/webpack/c6eadd8e34d25b4e.webpack.hot-update.json
.next/static/webpack/e74ee220d3efc72d.webpack.hot-update.json
.next/static/webpack/e134d3af2ffeb22d.webpack.hot-update.json
.next/static/webpack/webpack.0dec63d7bcc7d1d6.hot-update.js
.next/static/webpack/webpack.2c7dac2b50b5ebe0.hot-update.js
.next/static/webpack/webpack.2efa0db03a1b0344.hot-update.js
.next/static/webpack/webpack.3d069bb177bf51d2.hot-update.js
.next/static/webpack/webpack.05c8ab563bf91343.hot-update.js
.next/static/webpack/webpack.5e4a41b164ab1a17.hot-update.js
.next/static/webpack/webpack.6cf0ea274ae08141.hot-update.js
.next/static/webpack/webpack.8ca24c4482fd13c2.hot-update.js
.next/static/webpack/webpack.47b39bc9dea8ce85.hot-update.js
.next/static/webpack/webpack.56eefbf124655dc9.hot-update.js
.next/static/webpack/webpack.429d529e4dfd6a40.hot-update.js
.next/static/webpack/webpack.9386b21a51d95452.hot-update.js
.next/static/webpack/webpack.13512ce1dccd6e09.hot-update.js
.next/static/webpack/webpack.a925202bf5c1f6b9.hot-update.js
.next/static/webpack/webpack.b3126e015ea95689.hot-update.js
.next/static/webpack/webpack.c2bef8aa904d92b4.hot-update.js
.next/static/webpack/webpack.c2eabbc55976a1fe.hot-update.js
.next/static/webpack/webpack.c6eadd8e34d25b4e.hot-update.js
.next/static/webpack/webpack.e74ee220d3efc72d.hot-update.js
.next/static/webpack/webpack.e134d3af2ffeb22d.hot-update.js
.next/static/webpack/pages/events/[id].2c7dac2b50b5ebe0.hot-update.js
.next/static/webpack/pages/events/[id].3d069bb177bf51d2.hot-update.js
.next/static/webpack/pages/events/[id].05c8ab563bf91343.hot-update.js
.next/static/webpack/pages/events/[id].6cf0ea274ae08141.hot-update.js
.next/static/webpack/pages/events/[id].8ca24c4482fd13c2.hot-update.js
.next/static/webpack/pages/events/[id].56eefbf124655dc9.hot-update.js
.next/static/webpack/pages/events/[id].429d529e4dfd6a40.hot-update.js
.next/static/webpack/pages/events/[id].13512ce1dccd6e09.hot-update.js
.next/static/webpack/pages/events/[id].a925202bf5c1f6b9.hot-update.js
.next/static/webpack/pages/events/[id].c2eabbc55976a1fe.hot-update.js
.next/static/webpack/pages/events/[id].c6eadd8e34d25b4e.hot-update.js
.next/static/webpack/pages/events/[id].e134d3af2ffeb22d.hot-update.js
